<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form method="post" action="/chats/new">

        <label for="from">from:</label>
        <input type="text" value="from" name="from" placeholder="enter name who send message">
        <br>
        <label for="to">To:</label>
        <input type="text" value="to" name="to" placeholder="enter name who you want to send message">
        <br>
        <label for="msg">Message</label>
        <input type="text" value="msg" name="msg" placeholder="enter msg">

        <button>send</button>




    </form>
    
</body>
</html>